[Desktop Entry]
Name=Wasp GCode viewer
Exec=wasp-slicer --gcodeviewer %F
Icon=WaspSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
